.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 450px;
  height: 370px;
  background-color: #fff;
  border: solid 5px #000;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.makeMazeButton {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: solid 3px #000;
}

.makeResetButton {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: solid 3px #000;
}

.traceAI {
  width: 40px;
  height: 40px;
  background-color: #e0ff93;
}

.userAI {
  width: 0;
  height: 0;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 15px#ff0000;
}
